{
  "realm": "fluent",
  "auth-server-url": "{{ tla_config.keycloak.base_url }}",
  "ssl-required": "none",
  "resource": "moodle-fluent",
  "credentials": {
    "secret": "407207f3-442b-402f-a7d8-42bc72fb367e"
  },
  "confidential-port": 0
}