REMOVE_CONSECUTIVE_ATTEMPTS = False

ACTIVITY_INDEX_ENDPOINT = "localhost:8989/activity-index/activities/"

STUDY_ID = 'FLUENT_2018'


class CompetencyCounterConfig(object):
    class Types(object):
        ONLINE = "online"
        OFFLINE = "offline"

    SOURCE = Types.ONLINE


class AMQPConfig(object):
    class Experiences(object):
        AMQP_HOST = "insertHost"
        AMQP_NAME = "experiences"
        AMQP_USR = "insertUsername"
        AMQP_PWD = "insertPassword"

    class RawInferences(object):
        AMQP_HOST = ""
        AMQP_NAME = "raw-inferences"


class XApiConfig(object):
    class Verbs(object):
        PASSED_VERB_ID = "http://adlnet.gov/expapi/verbs/passed"
        FAILED_VERB_ID = "http://adlnet.gov/expapi/verbs/failed"


# Note - below are only used in testing functions that are not used in the base evidence mapper component.
class LRSConfig(object):
    USR = "insertUsername"
    PWD = "insertPassword"
    HOST = "insertHost"
    PORT = "8001"
    ENDPOINT = "data/xAPI/statements"


class LearnerInferenceConfig(object):
    HOST = "insertHost"
    PORT = "8999"
    ENDPOINT = "learner-inferences/learners"
    FULL_PATH = "/".join([HOST+":"+PORT, ENDPOINT])

AFM_ENABLED = True
TRANSFER_LEARNING_ENABLED = False
