var config = {
    "identityProviderName" : "{{ assessment_ap.identity_provider }}",
    "lrsEndpoint" : "{{ assessment_ap.lrs.endpoint_url }}/xapi",
    "lrsUsername" : "{{ assessment_ap.lrs.username }}",
    "lrsPassword" : "{{ assessment_ap.lrs.password }}",
    "activityIndexEndpoint" : "{{ assessment_ap.activity_index }}"
}
