{
	"xapiEndpoint":"{{ cass.external_services.lrs.base_url }}/xapi/",
	"xapiHostName":"{{ cass.external_services.lrs.base_url }}/",
	"xapiAuth":"Basic bHJzX2RqYW5nb191c2VyOnNvYXI=",
	"enabled":"true"
}
