# coding: utf-8

"""
    CASS API

    This API is used to interact with the data stored in the CASS database.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six
from cass_client.models.competency import Competency
from cass_client.models.framework import Framework
from cass_client.models.relation import Relation

from cass_client.api_client import ApiClient


class CASSSingleObjectApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_competency(self, competency_id, **kwargs) -> Competency:  # noqa: E501
        """Obtains Competencty info.  # noqa: E501

        Obtains the information of the corresponding Competency.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_competency(competency_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str competency_id: The ID of the requested Competency. (required)
        :return: Competency
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_competency_with_http_info(competency_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_competency_with_http_info(competency_id, **kwargs)  # noqa: E501
            return data

    def get_competency_with_http_info(self, competency_id, **kwargs):  # noqa: E501
        """Obtains Competencty info.  # noqa: E501

        Obtains the information of the corresponding Competency.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_competency_with_http_info(competency_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str competency_id: The ID of the requested Competency. (required)
        :return: Competency
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['competency_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_competency" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'competency_id' is set
        if ('competency_id' not in params or
                params['competency_id'] is None):
            raise ValueError("Missing the required parameter `competency_id` when calling `get_competency`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'competency_id' in params:
            path_params['competencyId'] = params['competency_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/insertCassSchemaUrl.0.3.Competency/{competencyId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Competency',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_framework(self, framework_id, **kwargs) -> Framework:  # noqa: E501
        """Obtains Framework info.  # noqa: E501

        Obtains the information of the corresponding Framework.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_framework(framework_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str framework_id: The ID of the requested Framework. (required)
        :return: Framework
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_framework_with_http_info(framework_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_framework_with_http_info(framework_id, **kwargs)  # noqa: E501
            return data

    def get_framework_with_http_info(self, framework_id, **kwargs):  # noqa: E501
        """Obtains Framework info.  # noqa: E501

        Obtains the information of the corresponding Framework.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_framework_with_http_info(framework_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str framework_id: The ID of the requested Framework. (required)
        :return: Framework
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['framework_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_framework" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'framework_id' is set
        if ('framework_id' not in params or
                params['framework_id'] is None):
            raise ValueError("Missing the required parameter `framework_id` when calling `get_framework`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'framework_id' in params:
            path_params['frameworkId'] = params['framework_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/insertCassSchemaUrl.0.3.Framework/{frameworkId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Framework',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_relation(self, relation_id, **kwargs) -> Relation:  # noqa: E501
        """Obtains Relation info.  # noqa: E501

        Obtains the information of the corresponding Relation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_relation(relation_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str relation_id: The ID of the requested Relation. (required)
        :return: Relation
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_relation_with_http_info(relation_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_relation_with_http_info(relation_id, **kwargs)  # noqa: E501
            return data

    def get_relation_with_http_info(self, relation_id, **kwargs):  # noqa: E501
        """Obtains Relation info.  # noqa: E501

        Obtains the information of the corresponding Relation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_relation_with_http_info(relation_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str relation_id: The ID of the requested Relation. (required)
        :return: Relation
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['relation_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_relation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'relation_id' is set
        if ('relation_id' not in params or
                params['relation_id'] is None):
            raise ValueError("Missing the required parameter `relation_id` when calling `get_relation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'relation_id' in params:
            path_params['relationId'] = params['relation_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/insertCassSchemaUrl.0.3.Relation/{relationId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Relation',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
