# coding: utf-8

"""
    Recommender UI Support Service API

    This API is used to interact with the data stored in the Recommender UI Support Service database.  # noqa: E501

    OpenAPI spec version: 0.1.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from recommenderuisupportclient.api_client import ApiClient


class PageStateApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def delete_page_state(self, keycloak_id, **kwargs):  # noqa: E501
        """Deletes the page state for a user session  # noqa: E501

        Removes the page state for the given user session from the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_page_state(keycloak_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be deleted (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.delete_page_state_with_http_info(keycloak_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_page_state_with_http_info(keycloak_id, **kwargs)  # noqa: E501
            return data

    def delete_page_state_with_http_info(self, keycloak_id, **kwargs):  # noqa: E501
        """Deletes the page state for a user session  # noqa: E501

        Removes the page state for the given user session from the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.delete_page_state_with_http_info(keycloak_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be deleted (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['keycloak_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_page_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'keycloak_id' is set
        if ('keycloak_id' not in params or
                params['keycloak_id'] is None):
            raise ValueError("Missing the required parameter `keycloak_id` when calling `delete_page_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'keycloak_id' in params:
            path_params['keycloakId'] = params['keycloak_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/page-state/{keycloakId}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_page_state(self, keycloak_id, **kwargs):  # noqa: E501
        """Obtains the page state for a user session  # noqa: E501

        Obtains the page state for the given user session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_page_state(keycloak_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be returned (required)
        :return: PageState
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.get_page_state_with_http_info(keycloak_id, **kwargs)  # noqa: E501
        else:
            (data) = self.get_page_state_with_http_info(keycloak_id, **kwargs)  # noqa: E501
            return data

    def get_page_state_with_http_info(self, keycloak_id, **kwargs):  # noqa: E501
        """Obtains the page state for a user session  # noqa: E501

        Obtains the page state for the given user session  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.get_page_state_with_http_info(keycloak_id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be returned (required)
        :return: PageState
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['keycloak_id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_page_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'keycloak_id' is set
        if ('keycloak_id' not in params or
                params['keycloak_id'] is None):
            raise ValueError("Missing the required parameter `keycloak_id` when calling `get_page_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'keycloak_id' in params:
            path_params['keycloakId'] = params['keycloak_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/page-state/{keycloakId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='PageState',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def post_page_state(self, page_state_obj, **kwargs):  # noqa: E501
        """Stores the page state for a new user session  # noqa: E501

        Stores the page state for a new user session in the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_page_state(page_state_obj, async=True)
        >>> result = thread.get()

        :param async bool
        :param PageState page_state_obj: PageState object to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.post_page_state_with_http_info(page_state_obj, **kwargs)  # noqa: E501
        else:
            (data) = self.post_page_state_with_http_info(page_state_obj, **kwargs)  # noqa: E501
            return data

    def post_page_state_with_http_info(self, page_state_obj, **kwargs):  # noqa: E501
        """Stores the page state for a new user session  # noqa: E501

        Stores the page state for a new user session in the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.post_page_state_with_http_info(page_state_obj, async=True)
        >>> result = thread.get()

        :param async bool
        :param PageState page_state_obj: PageState object to add (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['page_state_obj']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method post_page_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'page_state_obj' is set
        if ('page_state_obj' not in params or
                params['page_state_obj'] is None):
            raise ValueError("Missing the required parameter `page_state_obj` when calling `post_page_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'page_state_obj' in params:
            body_params = params['page_state_obj']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/page-state', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_page_state(self, keycloak_id, page_state_obj, **kwargs):  # noqa: E501
        """Updates the page state for a user session  # noqa: E501

        Updates the page state for the given user session in the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_page_state(keycloak_id, page_state_obj, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be updated (required)
        :param PageState page_state_obj: PageState object to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.update_page_state_with_http_info(keycloak_id, page_state_obj, **kwargs)  # noqa: E501
        else:
            (data) = self.update_page_state_with_http_info(keycloak_id, page_state_obj, **kwargs)  # noqa: E501
            return data

    def update_page_state_with_http_info(self, keycloak_id, page_state_obj, **kwargs):  # noqa: E501
        """Updates the page state for a user session  # noqa: E501

        Updates the page state for the given user session in the database  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.update_page_state_with_http_info(keycloak_id, page_state_obj, async=True)
        >>> result = thread.get()

        :param async bool
        :param str keycloak_id: The ID of the learner whose page state will be updated (required)
        :param PageState page_state_obj: PageState object to update (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['keycloak_id', 'page_state_obj']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_page_state" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'keycloak_id' is set
        if ('keycloak_id' not in params or
                params['keycloak_id'] is None):
            raise ValueError("Missing the required parameter `keycloak_id` when calling `update_page_state`")  # noqa: E501
        # verify the required parameter 'page_state_obj' is set
        if ('page_state_obj' not in params or
                params['page_state_obj'] is None):
            raise ValueError("Missing the required parameter `page_state_obj` when calling `update_page_state`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'keycloak_id' in params:
            path_params['keycloakId'] = params['keycloak_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'page_state_obj' in params:
            body_params = params['page_state_obj']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/ld+json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/ld+json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/page-state/{keycloakId}', 'PATCH',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
