""""

---WARNING---
This is a placeholder file, for use in outside-of-VM testing only!
Any changes made here should be reflected in the corresponding ansible template file.
This file will get overwritten by that template file upon provisioning the VM.

"""


class Config(object):
    DEBUG = True

    BASE_URL = 'insertIPAddr/activity-index'

    ACTIVITY_ENDPOINT = BASE_URL + '/activities/'
    AUTHOR_ENDPOINT = BASE_URL + '/authors/'
    PUBLISHER_ENDPOINT = BASE_URL + '/publishers/'
    PROVIDER_ENDPOINT = BASE_URL + '/providers/'

    MONGO_HOST = 'insertHost'
    MONGO_PORT = 27017
    MONGO_DB = 'activity_index'

    ASSESSMENT_ACTIVITY_PROVIDER_URL = 'insertUrl'
    VIDEO_PLAYER_URL = 'insertUrl'
    STATIC_CONTENT_VIEWER_URL = 'insertUrl'
    CONTENT_BASE = 'insertBase'
    CONTENT_PORT = '8003'
    CONTENT_URL = CONTENT_BASE + ':' + CONTENT_PORT


    BAD_TRAIT_BOOLEAN_THRESHOLD = 0.25
    USEFUL_BOOLEAN_THRESHOLD = 0.75
