com.soartech.fluent.lrs.testlrs.url      = {{ tla_config.lrs.xapi_base_url }}
com.soartech.fluent.lrs.testlrs.username = {{ tla_config.lrs.username }}
com.soartech.fluent.lrs.testlrs.password = {{ tla_config.lrs.password }}

com.soartech.fluent.activityindex.url      = {{ tla_config.nuxeo.base_url }}
com.soartech.fluent.activityindex.username = {{ tla_config.nuxeo.username }}
com.soartech.fluent.activityindex.password = {{ tla_config.nuxeo.password }}

com.soartech.fluent.learnerprofile.default_url = http://{{ st_server_hostname }}:8081/learner-profile/rest

com.soartech.fluent.updateinterval = 5

