<VirtualHost *:{{ self_report_ap.port }}>

    DocumentRoot {{ self_report_ap.web_root }}

    ServerName {{ self_report_ap.server_name }}
    ServerPath "{{ self_report_ap.server_path }}"

    ServerAdmin webmaster@localhost

    ErrorLog ${APACHE_LOG_DIR}/self-report-ap.error.log
    CustomLog ${APACHE_LOG_DIR}/self-report-ap.access.log combined

    <Directory {{ self_report_ap.web_root }}>
        AllowOverride All
        Require all granted
    </Directory>

</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
